<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="outofstocklast" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Kaushik - Out Of Stock Last</label>
            <tab>catalog</tab>
            <resource>Kaushikofficial_Outofstocklast::outofstocklast_settings</resource>
            <group id="kaushik_outofstocklast" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="active" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This option display the products at last in the product list that don't have stock.</comment>
                </field>
            </group>
        </section>
    </system>
</config>